footer {
    display: flex;
    flex-direction: column;
}

.footer__top {
    background: rgba(161, 250, 158, 0.3);
}

.footer__top__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 30px;
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

}

.footer__bottom {
    margin: 20px auto;
    justify-content: space-between;
}

.footer__gap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}